body {
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}
.hero-gradient {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('lafita.png');
    background-size: cover;
    background-position: center;
}
.gold-text {
    color: #D4AF37;
}
.gold-bg {
    background-color: #D4AF37;
}
.product-card:hover img {
    transform: scale(1.1);
    }
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: transform 0.3s ease;
}
.whatsapp-float:hover {
    transform: scale(1.1);
}


.logo-img {
    max-height: 50px;
    width: auto;
        }
.hero-logo {
    max-height: 150px;
    width: auto;
    margin: 0 auto 20px;
        }